/*this is the banner part*/
header{
      max-width: 1440px;
      height: 652px;
      margin-top: 131px;
      background-image: url(./assets/Hero-bg.png);
      display: flex;
      justify-content: center;
      margin-bottom: 74px;

}
.banner-container{
      width: 70%;
       margin: 0 auto;
      border-color: black;
      border-style: double;
      display: flex;
      flex-direction: column;
      justify-content: center;
    

}
.banner-text-container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-image{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.banner-container h1 {
   
    font-size: 3rem ;
    text-align: center;
}

.banner-button{
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
}
.web-container{
     width: 90%;
     margin: 0 auto;
     height: 1390px;
     border-style: double;
     border-color: black;
     background-color: rgb(13, 19, 33 , .02);

}
.web-title h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}
.web-title{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    border-color: black;
    border-style: dashed;
}
.all-web{
    width: 90%;
     margin: 0 auto;
     
     border-style: double;
     border-color: black;
    
    



}
.web-one{
    display: flex;
    margin-left: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
    
    gap: 200px ;
    border-style: dashed;
    border-color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.web-one-image{
    border-color: black;
    border-style: dashed;
    display: flex;
    justify-content: flex-end;
}

.vdo{
    text-align: center;
}